[package]
name = "rsmgclient"
version = "0.1.0"
authors = ["Mario Herceg <mario.herceg@memgraph.io>"]
edition = "2018"

[dependencies]
maplit = "1.0.2"

[dev-dependencies.cargo-husky]
version = "1"
default-features = false
features = ["user-hooks"]
