name: CI

on: [push]

jobs:
  build_and_test:
    strategy:
     matrix:
        platform: [ubuntu-18.04]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install system dependencies
      run: sudo apt-get install -y git cmake make gcc g++ libssl-dev
    - name: Download mgclient
      uses: actions/checkout@master
      with:
        repository: memgraph/mgclient
    - name: Install mgclient
      run: |
        mkdir build
        cd build
        cmake ..
        make
        sudo make install
    - name: Cache Memgraph Docker image
      id: cache-memgraph-docker
      uses: actions/cache@v1
      with:
        path: ~/memgraph
        key: cache-memgraph-v1.1.0-docker-image
    - name: Download Memgraph Docker image
      if: steps.cache-memgraph-docker.outputs.cache-hit != 'true'
      run: |
        mkdir ~/memgraph
        curl -L https://memgraph.com/download/memgraph/v1.1.0/docker/memgraph-1.1.0-community-docker.tar.gz > ~/memgraph/memgraph-docker.tar.gz
    - name: Load Memgraph Docker image
      run: |
        docker load -i ~/memgraph/memgraph-docker.tar.gz

    - name: Run Memgraph
      run: |
        docker run -d -p 7687:7687 -v mg_lib:/var/lib/memgraph -v mg_log:/var/log/memgraph -v mg_etc:/etc/memgraph memgraph
  
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
    - run: cargo clippy
    - run: cargo fmt -- --check
    - run: cargo build --verbose
    - name: Run cargo-tarpaulin
      uses: actions-rs/tarpaulin@v0.1.2
      with:
        args: '--out Html --ignore-tests'

    - name: Archive code coverage results
      uses: actions/upload-artifact@v1
      with:
        name: code-coverage-report
        path: tarpaulin-report.html
