name: CI

on:
  pull_request:
    branches: [ master ]

jobs:
  build_and_test_ubuntu:
    strategy:
     matrix:
        platform: [ubuntu-24.04]
        mgversion: [latest]
    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true

    - name: Install system dependencies
      run: sudo apt-get install -y git cmake make gcc g++ libssl-dev

    - name: Set up Rust toolchain
      uses: dtolnay/rust-toolchain@stable
      with:
        components: clippy, rustfmt
    - name: Run rust linter
      run: cargo clippy
    - name: Run rust formatter
      run: cargo fmt -- --check
    - name: Build the project
      run: cargo build --verbose
    - name: Run Memgraph
      run: |
        docker run -d -p 7687:7687 memgraph/memgraph:${{ matrix.mgversion }} --telemetry-enabled=False
    - name: Run test
      run: cargo test

  build_macos:
    needs: build_and_test_ubuntu
    strategy:
      matrix:
        include:
          - platform: macos-15
            target: aarch64-apple-darwin
          - platform: macos-14
            target: x86_64-apple-darwin
    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true

    - name: Set up Rust toolchain
      uses: dtolnay/rust-toolchain@stable
      with:
        targets: ${{ matrix.target }}
        components: clippy, rustfmt

    - name: Build the client
      run: cargo build --release

  build_windows:
    needs: build_and_test_ubuntu
    strategy:
      matrix:
        include:
          - platform: windows-latest
            target: x86_64-pc-windows-msvc
            vcpkg_triplet: x64-windows-static
          - platform: windows-11-arm
            target: aarch64-pc-windows-msvc
            vcpkg_triplet: arm64-windows-static
    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true

    - name: Set up Rust toolchain
      uses: dtolnay/rust-toolchain@stable
      with:
        targets: ${{ matrix.target }}
        components: clippy, rustfmt

    - name: Install OpenSSL via vcpkg
      run: |
        vcpkg install openssl:${{ matrix.vcpkg_triplet }}

    - name: Build the client
      run: cargo build --release --target=${{ matrix.target }}
      env:
        OPENSSL_LIB_DIR: "C:\\vcpkg\\installed\\${{ matrix.vcpkg_triplet }}\\lib"
        OPENSSL_INCLUDE_DIR: "C:\\vcpkg\\installed\\${{ matrix.vcpkg_triplet }}\\include"
        OPENSSL_STATIC: "1"
