name: CI

on: [push]

jobs:
  build_and_test:
    strategy:
     matrix:
        platform: [ubuntu-18.04]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install system dependencies
      run: sudo apt-get install -y git cmake make gcc g++ libssl-dev
    - name: Download mgclient
      uses: actions/checkout@master
      with:
        repository: memgraph/mgclient
    - name: Install mgclient
      run: |
        mkdir build
        cd build
        cmake ..
        make
        sudo make install

    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
    - run: cargo clippy
    - run: cargo fmt -- --check
    - run: cargo build --verbose
    - name: Run cargo-tarpaulin
        uses: actions-rs/tarpaulin@v0.1
        with:
          version: '0.9.0'
          args: '-- --test-threads 1'
